<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Person | OverLink</title>
  </head>

  <h1 class="on-black" align="center">OverLink a new Person</h1>
  <h6 class="on-black" align="center">Add new Person</h6>

  <%= render 'form' %>
