<div class="row">
  <div class="col-md-12">
    <div class="radio radio-info">
  <input type="radio" name="survey" id="Radios1" value="Yes">
  <label>I'm looking for a place
  </label>
</div>
<div class="radio radio-info">
    <input type="radio" name="survey" id="Radios2" value="No">
  <label>I want to share my house
  </label>
</div>
</div>
<%= link_to 'New Listing', new_listing_path %>
</div>
