<!DOCTYPE html>
<html lang="en">
  <head>

    <title>OverLink | Edit Person</title>

  </head>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-white">
          <h1 align="center">Edit person profile</h1>
        </div>
      </div>
    </div>
  </div>



<div class="container">
  <div class="row">
<%= render 'form' %>
</div>
</div>
