<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OverLink | People</title>
  </head>



  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="well well-white">
          <h1 align="center">List of all people</h1>
        </div>
      </div>
    </div>
  </div>






    <!-- <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active">
        <a href="#">Looking for Guest</a>
      </li>
      <li role="presentation">
        <a href="#">Looking for a Place</a>
      </li>
      <li role="presentation">
        <a href="#">Let's rent together</a>
      </li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Dropdown <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          ...
        </ul>
      </li>
    </ul> -->


      <div align="center">
        </div>
          <%= will_paginate %>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                  <%= render 'person', obj: @people %>
                </div>
              </div>
            </div>
          <%= will_paginate %>
        <div align="center">
      </div>
