<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OverLink | People</title>
  </head>



  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="well well-white">
          <h1 align="center">List of all people</h1>
            <div class="row">
            <%= form_tag people_path, method: :get, class: "navbar-form navbar-left search-form" do %>
              <%= text_field_tag(
                  :search,
                  params[:search],
                  placeholder: "Search by name",
                  class: "form-control"
              ) %>
             <%= submit_tag "Search!", :name => nil, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>




      <div align="center">
        </div>

            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                  <%= render 'person', obj: @people %>
                </div>
              </div>
            </div>

        <div align="center">
      </div>
