<% obj.each do |category_groups| %>
  <div class="container-fluid">
    <div class="row">
      <div class="well well-white">
        <div class="row">
          <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="listing-title">
              <h4><%= link_to category_groups.title, group_path(category_groups), class: "listing-title-text" %><h4>
              <hr>
              <p><small><%= category_groups.description %></small></p>
              <h5 class="listing-tag-line"><small><%= category_groups.person_ids.count %> people in the group</small></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
