<% obj.each do |category_groups| %>
  <div class="container-fluid">
    <div class="row">
      <div class="well well-white">
        <div class="row">
          <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="listing-title">
              <%= link_to category_groups.title, group_path(category_groups), class: "listing-title-text" %>
              <h4><small><%= category_groups.description %></small></h4>
              <h4 class="listing-tag-line"><%= category_groups.person_ids.count %> people in the group</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
