<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Overlink Groups</title>
  </head>



  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <div class="well well-white">
          <h1 align="center">List All Groups</h1>
        </div>
      </div>
    </div>
  </div>




<div class="container">
  <div class="row">
    <!-- <nav class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
      <ul class="list-group">
        <li class="list-group-item">
          <h2 align="center">Popular groups
          </h2>
        </li>
        <li class="list-group-item">
          <span class="badge">257</span>
          Photograpy
        </li>
        <li class="list-group-item">
          <span class="badge">324</span>
          Nightlife
        </li>
      </ul>
    </nav> -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
          <ul class="listing">
            <div class="container-fluid">
              <div class="row">
                <% @groups.each do |category_groups| %>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="well well-white">
                      <li class="article-title">
                          <h4 class="group-title">
                          <%= link_to "#{category_groups.title}", group_path(category_groups), class:"group-title" %> <small>by <%= category_groups.user.name %></small>
                          </h4>
                          <h4><small><%= category_groups.people.count %> people in this group</small></h4>
                          <h4><hr>
                          <small>
                          <%= truncate(category_groups.description, length: 100) %>
                          </small></h4>
                      </li>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </ul>

    </div>
  </div>
</div>
