
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well well-intro">
              <h1 class="center blue-intro">YELLOW PAGES OF SOCIAL NETWORKS.</h1>
              <h4 class="center">With OverLink you can find interesting people to follow on any social network they use to reach your dream.</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="well well-white">
                <h1 class="center blue-intro">How it works.</h1>
                <h5 class="center">With OverLink you can find interesting people to follow on any social network they use to reach your dream.</h5>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h1 class="center blue-intro">Sign Up</h1>
                        <h5 class="center"><small>Create your Overlink account to be able to create groups and add people.</small></h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h1 class="center blue-intro">Create</h1>
                        <h5 class="center"><small>You can create groups in any of avalible categories and start adding people in the group.</small></h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h1 class="center blue-intro">Share</h1>
                        <h4 class="center"><small>With OverLink you can find interesting people to follow on any social network they use to reach your dream.</small></h4>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <h4 class="center">or browse thru <%= link_to "categories", categories_path %> and find amazing <%= link_to "people", people_path %>!</h4>
                      </div>

                    </div>


              </div>
            </div>
          </div>




        </div>

        <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="well well-intro">
                  <h1 class="center blue-intro">Categories.</h1>
                  <h5 class="center">Discover them all.</h5>
                </div>
              </div>
            </div>
          </div>


      <ul class="listing">
        <div class="container">
          <div class="row">
            <% @categories.each do |category| %>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="well well-hover">
                  <li class="article-title">
                      <h3 class="color-red">
                      <%= link_to "#{category.name}", category_path(category) %>
                      </h3>
                      <h4><small>
                        <%= truncate(category.description, length: 100) %>
                      </small></h4>
                  </li>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </ul>
