
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h1 class="display-1 text-red-bold">Explore</h1>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="display-2 text-red">
              Cities
              <br>
              <small class="text-muted">A place where are you starting.</small>
            </h1>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="listing">
              <div class="container-fluid">
                <div class="row">
                  <% @categories.each do |category| %>
                    <div class="btn btn-danger btn-outline btn-lg">
                      <%= link_to "#{category.name}", category_path(category), :class => "btn category-main-btn" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </ul>
          </div>
        </div>
