<!-- <div class="panel panel-default">
  <div class="panel-body"> -->
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well well-intro">
              <h1 class="center blue-intro">YELLOW PAGES OF SOCIAL NETWORKS.</h1>
              <h4 class="center">With OverLink you can find interesting people to follow on any social network they use to reach your dream.</h4>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="desc-tag"> -->
        <!-- <h3>Planetome lets you co-rent places with like-minded people based on your interests.</br>
          </br>
        You are able to: </br>
        split up costs,
        </br>rent a better house
        </br>and make friends while traveling around the world.</h3> -->
      <!-- </div> -->
      <!-- <div align="center ">
        <div class="btn-group" role="group" aria-label="...">
          <%= link_to 'Add People', new_user_registration_path, class: "btn btn-success btn-lg btn-xlarge " %>
            <span class="btn-separator"></span>
          <%= link_to 'Find People', new_user_registration_path, class: "btn btn-success btn-lg btn-xlarge " %>
        </div>
      </div> -->

      <ul class="listing">
        <div class="container">
          <div class="row">
            <% @categories.each do |category| %>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="well well-hover">
                  <li class="article-title">
                      <h3 class="color-red">
                      <%= link_to "#{category.name}", category_path(category) %>
                      </h3>
                      <h4><small>
                        <%= truncate(category.description, length: 100) %>
                      </small></h4>
                  </li>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </ul>







  <!-- </div>  </div> -->
