<div class="jumbotron">
  <!-- <div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px;
              overflow: hidden; -webkit-background-size: cover; background-size: cover; background-color: transparent;
              background-image: none; background-position: 50% 50%; background-repeat: no-repeat no-repeat;">
    <video autoplay="" loop="" muted="" style="margin: 0px; position: absolute; z-index: -1; top: 50%;
              left: 50%; transform: translate(-50%, -50%); visibility: visible; opacity: 1; width: auto; height: 100vh;">
      <source src="https://d3hjue7omxs01q.cloudfront.net/Video/homepage/background-header-v1.mp4" type="video/mp4">
      <source src="https://d3hjue7omxs01q.cloudfront.net/Video/homepage/background-header-v1.webm" type="video/webm">
    </video>
  </div> -->
  <div class="container">
  <span ><h1 class="">YELLOW PAGES OF SOCIAL NETWORKS.</h1></span>
    <!-- <div class="desc-tag"> -->
      <!-- <h3>Planetome lets you co-rent places with like-minded people based on your interests.</br>
        </br>
      You are able to: </br>
      split up costs,
      </br>rent a better house
      </br>and make friends while traveling around the world.</h3> -->
    <!-- </div> -->
    <!-- <div align="center ">
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to 'Add People', new_user_registration_path, class: "btn btn-success btn-lg btn-xlarge " %>
          <span class="btn-separator"></span>
        <%= link_to 'Find People', new_user_registration_path, class: "btn btn-success btn-lg btn-xlarge " %>
      </div>
    </div> -->







</div>
</div>
