<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Planetome | About</title>

  </head>
  <body>
    <img src="https://c2.staticflickr.com/4/3928/32947863914_f3f71996ef_o.png" class="logo" />
    <br/>
    <span>This is a About page</span>
    <br/>
    <h2>We are Planetome team: Roman Mishiev and Katherine Mishieva. </h2>
    <br/>
    <p>Go to:  <%= link_to 'index', root_path %></p>

  



  </body>
</html>
