<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Planetome Interests</title>
  </head>

<h1 align="center">Listing All Interests</h1>
<div class="container-fluid">
  <div class="row">
    <nav class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
      <ul class="list-group">
        <li class="list-group-item">
          <h1 align="center">Popular categories
          </h1>
        </li>
        <li class="list-group-item">
          <span class="badge">257</span>
          Photograpy
        </li>
        <li class="list-group-item">
          <span class="badge">324</span>
          Nightlife
        </li>
      </ul>
    </nav>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 ">

          <ul class="listing">
            <div class="container-fluid">
              <div class="row">
                <% @interests.each do |interest| %>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="well">
                      <li class="article-title">
                          <h5>
                          <%= link_to "#{interest.name}", interest_path(interest) %>
                          </h5>
                          <h4><small>
                            <%= truncate(interest.description, length: 100) %>
                          </small></h4>
                      </li>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </ul>

    </div>
  </div>
</div>
