/*body {
  padding-top: 0vh;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}*/
.logo {
  width: 133px;
  margin-bottom: 5px;
  margin-left: 2px;
}
/*.table {
  position: absolute;
  align-items: center;
  align-self: center;
  text-align: center;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
}
tr {
  align-items: center;
}*/
