<!DOCTYPE html>
<html lang="en">
  <head>
    <title>S.Space Cities</title>
  </head>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
      <div class="well well-white">
        <h1 align="center">List of all categories</h1>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
      <ul class="listing">
        <!-- <div class="container">
          <div class="row"> -->
            <% @categories.each do |category| %>
              <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <!-- <div class="well well-white"> -->
                  <li class="article-title">
                      <h3 >
                      <%= link_to "#{category.name}", category_path(category),  class: "listing-title-text" %>
                      </h3>
                  </div>
                  <div class="panel-body">
                      <small>Contains <%= pluralize(category.group_ids.count, "group")%></small>

                      <h4><small>
                        <%= truncate(category.description, length: 100) %>
                      </small></h4>
                  </div>
                </li>
                <!-- </div> -->
              </div>
            </div>

            <% end %>
          <!-- </div>
        </div> -->
      </ul>
    </div>
  </div>
</div>
