<!-- <div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-sm-10 col-md-5 col-lg-5">
				<div class="copyright">
          <small>
            Copyright &copy; 2017 | <a href="http://www.planetome.com">Planetome Inc.</a>
            by Roman Mishiev.
          </small>
				</div>
			</div> -->
      <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="footer-logo">
        <%= link_to image_tag('footer_logo.svg'), root_path %>
      </div>
      </div> -->
			<!-- <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
				<div class="design">
          <nav>
              <p><%= link_to 'About', pages_about_path %> |
              <%= link_to 'New Listing', new_listing_path %> |
              <%= link_to 'Show Listings', listings_path %></p>
          </nav>
				</div>
			</div> -->
		<!-- </div>
	</div>
</div> -->


<footer id="myFooter">
		<div class="container">
				<div class="row">
						<div class="col-sm-3 myCols">
								<h5>Get started</h5>
								<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Sign up</a></li>
										<li><a href="#">Downloads</a></li>
								</ul>
						</div>
						<div class="col-sm-3 myCols">
								<h5>About us</h5>
								<ul>
										<li><a href="#">Company Information</a></li>
										<li><a href="#">Contact us</a></li>
										<li><a href="#">Reviews</a></li>
								</ul>
						</div>
						<div class="col-sm-3 myCols">
								<h5>Support</h5>
								<ul>
										<li><a href="#">FAQ</a></li>
										<li><a href="#">Help desk</a></li>
										<li><a href="#">Forums</a></li>
								</ul>
						</div>
						<div class="col-sm-3 myCols">
								<h5>Legal</h5>
								<ul>
										<li><a href="#">Terms of Service</a></li>
										<li><a href="#">Terms of Use</a></li>
										<li><a href="#">Privacy Policy</a></li>
								</ul>
						</div>
				</div>
		</div>
		<div class="social-networks">
				<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
				<a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
				<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
		</div>
		<div class="footer-copyright">
				<p>  Copyright &copy; 2017 | <a href="http://www.planetome.com">Planetome Inc.</a>
					by Roman Mishiev. </p>
		</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
